* {
  box-sizing: border-box;
}

/*Für den Body und für das html*/
html,
body {
  /* Font-family ist vererbar und wir schreiben ein Font-Stack */
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  /*macht das Bild neben den Text in allen Elementen mit der Klasse Box*/
  display: flex;
  height: 300px;
  border: solid 1px black;
  padding: 5px 0;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
  margin: 15px auto;
}

.wrapper {
  width: 600px;
  margin: auto;
  outline: 1px solid red;
}

img,
.box-text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  flex: 1 1 50%;
  margin: 0 5px;
}
